.vocabulary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .words {
    width: 100%;
    .word {
      display: flex;
      justify-content: space-between;
    }
  }
}
