@import "../../../variables.scss";

.primary {
  border: 0;
  cursor: pointer;
  background-color: $primary-color;
  border-radius: 3px;
  box-shadow: 0 10px 15px 0 $primary-color;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.3s;
  font: 16px;
}

.primary:hover {
  background-color: $primary-color-hover;
  box-shadow: 0 10px 15px 0 $primary-color-hover;
}

.secondary {
  border: 0;
  cursor: pointer;
  background-color: $primary-color;
  border-radius: 3px;
  box-shadow: 0 10px 15px 0 $primary-color;
  color: #fff;
  padding: 15px 30px;
  transition: all 0.3s;
}
